LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_MAIN DIALOGEX 0, 0, 284, 204
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Wireless Networks"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL "", IDC_NETWORKS, "SysListView32",
            LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,
            7, 7, 270, 132
    LTEXT "&Passphrase:", IDC_STATIC, 7, 148, 42, 9
    EDITTEXT IDC_KEY, 52, 146, 138, 12, ES_PASSWORD | ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON "&Scan", IDC_SCAN, 196, 145, 38, 14
    DEFPUSHBUTTON "&Connect", IDC_CONNECT, 238, 145, 39, 14
    LTEXT "", IDC_STATUS, 7, 168, 270, 28
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Wireless Networks"
END
