#include <winver.h>
#include <ntverp.h>

/* Version Data */
#define VER_FILETYPE             VFT_DRV
#define VER_FILESUBTYPE          VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR  "Kernel Cryptography Next Generation"
#define VER_INTERNALNAME_STR     "cng.sys"
#define VER_ORIGINALFILENAME_STR "cng.sys"
#define VER_LANGNEUTRAL
#include <common.ver>
